@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Sail&display=swap');

.banner{
    background-image: url(https://k45.kn3.net/707DBBD0B.png)
}
.row{
    font-size: 1.25rem;
    background-color: transparent;
    margin: 0;
}
.navbar{
    background-color: #00738c;
    padding: 1%;
    font-size: 1.2em;

} 
.navbar-brand{
    font-family: 'Sail', cursive;
    font-size: 1.2em;
}
.text-center .p{
font-size: 1.25rem;
}

.home{
    background: url(https://66.media.tumblr.com/9bc439a6f477f8a42040cd8fc1db173d/tumblr_o2ca7jk3iO1ta0hnbo1_1280.jpg) no-repeat center center fixed;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    background-size: cover;

}
/* .about{
    height: 100vh;
} */

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h2{
    font-size: 400%;
    font-weight: 700;
}
.list-skills{
    font-family: 'Allerta Stencil', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    border: none;
    background-color: transparent;
    
}
.Skillimg{
    max-width: 5rem;
}

.wrapper{
margin: 3rem;
display: flex;
justify-content: center;  
}
.input-field{
    margin: .25rem;
}
.style{
    clear: both;
}
.card{
    border: none;
}

.skills{
    margin: 2rem 0 2rem 0;
    text-align: center;
    background-color: #eff2d8;
}
.mr-3{
    max-width: 3rem;
}
.cool{
    margin-bottom: 2rem;
    margin-top: 2rem;
    
}
.van{
    text-align: right;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.carrusel{
    max-width: 10rem;
}

.contacts{
    text-align: center;
    margin-top: 2rem;
}
@media only screen and (max-width: 575px) {
    .van {
        text-align:left;
        margin-bottom:0;
        padding: none;
    }
    .ten{
        margin-top:0;
        margin-bottom: 1rem;
    }
    .ten2{
        margin-top:0;
    }
}

